html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
.body {
  background-color: rgb(230, 230, 230);
  font-family: "Montserrat", sans-serif;
}
.container__header {
  margin-top: 40px;
}
.section__header {
  margin: auto;
  padding: 25px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #ccc;
}
.button {
  margin: 15px;
}
