.body {
  background-color: rgb(230, 230, 230);
  font-family: "Montserrat", sans-serif;
}
.body__headerFont {
  margin-top: 40px;
}
.headerSecond {
  margin: auto;
  margin-top: 20px;
  padding: 25px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #ccc;
}
.button {
  margin: 15px;
}






