.body {
  background-color: rgb(230, 230, 230);
  font-family: "Montserrat", sans-serif;
  /* font-weight: bold;
  font-size: 13px; */
}
.container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 920px) {
  .container {
    width: 95%;
  }
}
.body__headerFont {
  margin-top: 40px;
}
.content--decoration {
  text-decoration: line-through;
}
.list {
  margin: auto;
  padding: 25px;
  background-color: rgb(255, 255, 255);
  /* border-top: 1px solid #ccc; */
}
.list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 0; */
  border-bottom: 1px solid #ccc;
}

.button {
  margin: 15px;
}
.button__remove {
  border: transparent;
  cursor: pointer;
  background: red;
  order: 2;
  min-width: 30px;
  min-height: 30px;
  color: white;
}
.button__done {
  border: transparent;
  cursor: pointer;
  background: green;
  min-width: 30px;
  min-height: 30px;
  order: -1;
  color: white;
}
.content {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  /* display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content:space-around; */
}

.form__button {
  background-color: teal;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 12px;
  
}
@media (max-width: 750px){
  .form__button{

 /* flex-shrink:1; */
 align-self:stretch;
/* margin:auto; */
margin-left: 0px;
  }
}
.form__button:hover {
  cursor: pointer;
  background-color: hsl(180, 100%, 30%);
}

.form__input {
  border-color: rgb(197 197 197 / 70%);
  border-style: double;
  flex-grow: 1;
  padding:10px;
}
@media (max-width: 750px){
  .form__input{
 /* width:95%; */
 align-self:stretch;
 margin-bottom:10px;
  } 
}
.form {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  padding: 25px;
  background-color: rgb(255, 255, 255);
}
@media (max-width: 750px) {
  .form {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}
.napis {
  /* display:flex;
  justify-content:flex-start; */
  margin: auto;
  margin-top: 20px;
  padding: 25px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #ccc;
}
